._developerUI._box {
  background-color: rgba(000, 000, 000, 0.0);
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
}

._developerUI ._block {
  background-color: rgba(000, 000, 000, 0.6);
  border: solid 1px rgba(200, 200, 200, 0.4);
  float: left;
  height: auto;
  margin: 5px;
  position: relative;
  padding: 2px;
  width: 340px;
}

._developerUI ._block ._wrapper {
  background-color: rgba(000, 000, 000, 0.0);
  height: auto;
  padding: 0px;
}

._developerUI ._block ._wrapper ._text-field {
  float: left;
}

._developerUI ._block ._wrapper ._label {
  width: 160px;
}