._developerUI._box {
  background-color: rgba(100, 100, 100, 0.6);
  height: auto;
  margin: 0px auto;
  width: 100%;
}

._developerUI ._wrapper {
  background-color: rgba(000, 000, 000, 0.0);
  height: auto;
  padding: 0px;
}

._developerUI ._wrapper ._bindingLabel {
  font-weight: bold;
  width: 160px;
}
